.dashboard-toggle {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #1d5067, #bbbcbe);
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 1rem;
  width: fit-content;
  border: 1px solid #1d5067;
  box-shadow: 0 5px 10px rgba(124, 124, 124, 0.677);
  text-shadow: 1px 2px 4px #333;
}

.dashboard-toggle:hover {
  color: #ffdd57;
}

.dashboard-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 2px solid #434e74;
}

.dashboard-toggle:hover {
  transform: scale(1.05);
}

.dashboard-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.visitor-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #1d5067, #bbbcbe);
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
  width: fit-content;
  border: 1px solid #1d5067;
  box-shadow: 0 5px 10px rgba(124, 124, 124, 0.677);
  text-shadow: 1px 2px 4px #333;
  cursor: not-allowed;
}
