.app-footer {
  text-align: center;
  background: radial-gradient(circle, #b7c4ca 0%, #374458 100%);
  font-size: 0.8rem;
  color: #363434;
}

.app-footer a {
  color: #007acc;
  text-decoration: none;
  font-weight: 500;
}

.app-footer a:hover {
  text-decoration: underline;
}
