.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: radial-gradient(circle, #b7c4ca 0%, #5c6471 100%);
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  width: 90%;
  max-width: 600px;
}

.modal-close {
  background: #91989c;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
